platforms/android/ant-build/*
platforms/android/ant-gen/*
platforms/android/CordovaLib/ant-build/*
platforms/android/CordovaLib/ant-gen/*

platforms/android/bin/*
platforms/android/gen/*
platforms/android/CordovaLib/bin/*
platforms/android/CordovaLib/gen/*

platforms/android/local.properties
platforms/android/CordovaLib/local.properties

platforms/ios/cordova/console.log
platforms/ios/build/*
platforms/ios/CordovaLib/build/*

info.txt

*.fetch.json

*.*~
*.*.swp
.DS_Store
._.DS_Store
